<div class="row bg-onyx px-5">
    <div class="col-md-3">
        <img src="assets/images/spotify-logo.png" class="my-3" style="width:140px;"/>
    </div>
    
    <div class="col-md-6 d-flex align-items-center">
        
    </div>

    <div class="col-md-3 d-flex align-items-center flex-row-reverse">
        <div class="ms-4">
            <img src="https://api.dicebear.com/7.x/adventurer/svg" class="rounded" style="width:50px;height:50px"/>
        </div>

        <div>
            <span role="button" class="text-white"><i class="fa-light fa-bell" style="font-size:20px"></i></span>
        </div>
    </div>
</div>

